@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

// $blue-color:rgb(5,58,117);
$blue-color:black;
// $blue-color:#25213C;
$blue-grad1-color:linear-gradient(90deg, rgba(25,116,173,1) 4%, rgba(5,58,117,1) 100%);
$blue-grad2-color:linear-gradient(90deg, rgba(5,58,117,1)  4%, rgba(25,116,173,1) 100%);
$text-color:white;
$font-roboto:'Roboto', sans-serif;
$gray-color:#BFB182;
// $gray-color:gray;
$yellow-color:#bd9204;


