@use "../abstracts/variables" as *;

.events{
    margin: 5%;
    .h1{
        font-weight: bolder;
        color: $blue-color;
        font-size: 25px;
        margin-bottom: 20px;
        font-family: $font-roboto;
    }
    .event{
        width: 80%;
        box-shadow: 2px 2px 20px $text-color;
        margin-left: 10%;
        margin-right: 10%;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    gap: 20px;
    margin-bottom: 50px;
    background-color: $blue-color;
    justify-content: space-between;
    .img1{
        width: 250px;
        // height: 200px;
        border: 2px solid $text-color;
        border-radius: 10px;
    }
        .event1 {
    // --c:rgb(5,58,117); /* the border color */
    --c:#bd9204;
    ; /* the border color */
    --b: 2px;    /* the border thickness*/
    --g: 5px;     /* the gap on hover */
    padding: 30px;
    --_g: #0000 25%,var(--c) 0;
    border-radius: 30px;
    background: 
      conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g))
       var(--_i,200%) 0  /200% var(--_i,var(--b))  no-repeat,
      conic-gradient(            at bottom var(--b) left  var(--b),var(--_g))
       0   var(--_i,200%)/var(--_i,var(--b)) 200%  no-repeat;
    transition: .3s, background-position .3s .3s;
    cursor: pointer;
    .h1{
        line-height: 30px;
        font-weight: bolder;
        color: $text-color;
        font-size: 25px;
    }
    .h5{
        margin-left: 30px;
        color: $yellow-color;
        font-size: 20px;
    }
    .p{
        margin-top: 20px;
        color: $text-color;
        font-size: 20px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 30px;
        font-weight: 600;
    }
    .btn-star{
        margin-top: 60px;
        margin-left: 60px;
      }
  }
  .event1:hover {
    --_i: 100%;
    transition: .3s, background-size .3s .3s;
  }

}
}

@media (max-width:800px) {
    .events{
        .event{
            .img1{
                width: 300px;
            }
        }
    }
}

@media (max-width:700px) {
    .events{
        margin-left: 0;
        align-items: center;
        justify-content: center;
        .event{
            flex-direction: column;
            gap: 20px;
            align-items: center;
            justify-content: center;
            .img1{
                width: 300px;
                height: 300px;
            }
            .event1{
                margin-left: 10px;
                .h1{
                    line-height: 40px;
                    font-size: 30px;
                }
                .h5{
                    margin-top: 10px;
                    margin-left: 30px;
                    font-size: 20px;
                }
                .p{
                    margin-top: 20px;
                    font-size: 20px;
                    line-height: 27px;
                }
                .btn-star{
                    margin-top: 40px;
                }
            }
        }
    }
    
}
