@use "../abstracts/variables" as *;


.header{
    position: sticky;
    align-items: center;
    text-align: center;
    background-color: $blue-color;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    color: $text-color;
    font-family: $font-roboto;
    box-shadow: 1px 1px 10px $text-color;
    &_logo{
        display: flex;
        gap: 20px;
        align-items: center;
        p{
            line-height: 20px;
            font-family: sans-serif;
        }
    }
    &_head{
        align-items: center;
        display: flex;
        gap: 20px;
        padding: 0;
        a{
            font-weight: 600;
            font-family: sans-serif;
        }
    }
    .fa{
        display: none;
       }
       .drop-down1{
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1000000000000;
        .drop1{
            position: absolute;
            background-color: $blue-color;
            box-shadow: 1px 1px 10px $text-color;
            min-width: 100px;
            top: 20px;
            display: none;
        }
        &:hover .drop1{
            display: block;
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding-bottom: 10px;
            border-radius: 5px;
        }
        .drop1{
            a{
                border: none;
            }
        }
       }
       .drop-down2{
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 1000;
        .drop2{
            position: absolute;
            background-color: $blue-color;
            box-shadow: 1px 1px 10px $text-color;
            padding: 0 16px;
            min-width: 100px;
            top: 20px;
            display: none;
        }
        &:hover .drop2{
            display: block;
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding-bottom: 10px;
            border-radius: 5px;
        }
        .drop2{
            a{
                border: none;
            }
        }
       }
}

.side_nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:$blue-color;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
  }
  
  .side_nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    
    display: block;
    transition: 0.3s;
  
  }
  
  .side_nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

@media (max-width:970px) {
    .header{
        &_head{
            display: none;          
        }
        .fa{
            display: block;
         } 
         .side_nav{
            display: block;
         }
    }
    
}