/* reset */ 
@use "../base/reset" as *;

/* buttons */
@use "../components/buttons" as *;

/* variables */
@use "../abstracts/variables" as *;

/* header */
@use "../layout/header" as *;

/* events */
@use "../layout/events" as *;

/* footer */
@use "../layout/footer" as *;

main{
    display: flex;
    flex-direction: column;
    align-items: center;
   .con1{
    align-items: center;
        // margin: 20px 5%;
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: $gray-color;
        padding: 50px;
        border-radius: 5px;
        .con-1{
            width: 750px;
            padding: 30px;
            border-radius: 20px;
            box-shadow: 1px 1px 10px $blue-color;
            background-color: $text-color;
            h1{
                color: $blue-color;
                font-size: 30px;
            }
            h5{
                margin-top: 10px;
                color: $blue-color;
                font-size: 18px;
                line-height: 30px;
                font-family: $font-roboto;
            }
        }
        .main-png{
            width: 400px;
        }
    }
    .con2{
        margin-top: 50px;
        width: 70%;
        color: $text-color;
        padding: 30px;
        align-items: center;
        justify-content: center;
        box-shadow: 1px 1px 10px $gray-color;
        border-radius: 10px;
        .con-2{
            display: flex;
            flex-direction: row;
            p{
                margin-top: 10px;
                color: $text-color;
                font-size: 18px;
                line-height: 30px;
                font-family: $font-roboto;
            }
        }
    }
}
main{
    .con-1:hover{
        box-shadow: 1px 1px 100px $yellow-color inset;
    }
    .con2:hover{
        box-shadow: none;
        border-radius: 0;
    }
}

