/* reset */ 
@use "../base/reset" as *;

/* buttons */
@use "../components/buttons" as *;

/* variables */
@use "../abstracts/variables" as *;

/* header */
@use "../layout/header" as *;

/* grid */
@use "../layout/grid" as *;

/* footer */
@use "../layout/footer" as *;

.about-page{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
   .con1{
    align-items: center;
        // margin: 20px 5%;
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: $blue-color;
        padding: 50px;
        border-radius: 5px;
        .con-1{
            width: 750px;
            padding: 30px;
            border-radius: 20px;
            border: 2px solid $gold-color;
            box-shadow: 1px 1px 10px $yellow-color;
            background-color: $blue-color;
            // .word1{
            //   display: block;
            
            //   animation: show 0.01s forwards, pop-word 1.5s forwards;
            //   animation-timing-function: cubic-bezier(0.14, 1.23, 0.33, 1.16);
            //   opacity: 0;
            //   transform: rotateX(120deg);
            //   transform-origin: 50% 100%;
            // }
            // @keyframes show {
            //   to {
            //     opacity: 1;
            //   }
            // }
            // box-shadow: 1px 1px 100px $yellow-color inset;
            h1{
                color: $text-color;
                font-size: 30px;
            }
            h5{
                margin-top: 10px;
                color: $text-color;
                font-size: 18px;
                line-height: 25px;
                font-weight: lighter;
                font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            }
        }
        .main-png{
            width: 400px;
        }
    }
    .con2{
        margin-top: 50px;
        width: 70%;
        color: $text-color;
        padding: 30px;
        align-items: center;
        justify-content: center;
        box-shadow: 1px 1px 10px $gray-color;
        border-radius: 10px;
        .con-2{
            display: flex;
            flex-direction: row;
            p{
                margin-top: 10px;
                color: $text-color;
                font-size: 18px;
                line-height: 30px;
                font-family: $font-roboto;
            }
        }
    }
    .con3{
        width: 90%;
        margin-top: 50px;
        justify-content: center;
        align-items: center;
        padding: 20px;
        h1{
            color: $text-color;
        }
        .con-3{
            justify-content: space-between;
            align-items: center;
            display: flex;
            p{
                width: 30%;
                color: $text-color;
                font-size: 18px;
                line-height: 30px;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                // font-family: $font-roboto;
            }
        }  
    }
    .con4{
        width: 100%;
        justify-content: center;
        display: flex; 
        margin: 40px;  
    }
    .con5{
        width: 90%;
        align-items: center;
        justify-content: center;
        margin-bottom: 70px;
        h1{
            color: $text-color;
            font-size: 28px;
            line-height: 30px;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin-bottom: 30px;
        }
        .con-5{
        justify-content: center;
        display: flex;
        gap: 60px;
        flex-wrap: wrap;
        }
        
    }
}
.about-page{
    .con-1:hover{
      border: 2px solid $text-color;
      box-shadow: 2px 2px 120px $gold-color inset;
    }
    .con2:hover{
      box-shadow: 1px 1px 10px $text-color;
      // border-radius: 0;
    }
    .con3:hover{
        box-shadow: 1px 1px 10px $gray-color;
    }
}

@media (max-width: 1090px) {
  .about-page{
        .con1{
            display: flex;
            flex-direction: column-reverse;
            .con-1{
                width: 100%;
            }
        }
    }
}

@media (max-width:900px) {
  .about-page{
        .con2{
            .con-2{
                flex-direction: column;
            }
        }
    }
}

@media (max-width:700px) {
  .about-page{
        .con3{
            .con-3{
                flex-direction: column;
                p{
                    width: 100%;
                }
            }
        }
    }
}



.num-card {
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: center;
    width: 1100px;
    padding: 40px 0px;
    // background: rgb(255,235,192);
    // background: linear-gradient(0deg, rgba(255,235,192,1) 0%, rgba(255,200,79,1) 100%);
    border-radius: 20px;
    .number-field {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70px;
      font-size: 40px;
      color: $text-color;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 400;
    }
   

    .num-con{
      width: 180px;
      font-family: $font-roboto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
   
    }
    .num-text{
      margin-top: 20px;
      font-weight: 900;
      color:$text-color;
      font-size: 22px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }
    @media (max-width:860px) {
      .number-field{
        font-size: 30px;
      }
      .num-text{
        font-size: 18px;
      }
    }
    @media (max-width:740px) {
      .number-field{
        font-size: 25px;
      }
      .num-text{
        font-size: 16px;
      }
      .num-con{
        width: 100px;
      }
    }
    @media (max-width:665px) {
      .number-field{
        font-size: 25px;
      }
      .num-text{
        font-size: 14px;
      }
    }
    @media (max-width:550px) {
      .number-field{
        font-size: 22px;
      }
      .num-text{
        font-size: 12px;
      }
    }
    @media (max-width:460px) {
      .number-field{
        font-size: 14px;
      }
      .num-text{
        font-size: 10px;
      }
      .num-con{
        width: 50px;
      }
    }
    @media (max-width:300px) {
      .number-field{
        font-size: 22px;
      }
      .num-text{
        font-size: 16px;
      }
      .num-con{
        width: 80px;
      }
    }
  }


  @media (max-width:750px){
    .num-card{
      column-gap: 10px;
      padding: 30px 0;
    }
  }
  @media (max-width:450px){
    .num-card{
      column-gap: 10px;
      padding: 30px 0;
    }
  }
  @media (max-width:300px){
    .num-card{
      display: grid;
      grid-template-columns: repeat(1fr);
      background-image: linear-gradient(yellow,yellow);
      background-size: 50px 0;
      row-gap: 40px;
      width: 100px;
    }
  }

