/* reset */ 
@use "../base/reset" as *;

/* buttons */
@use "../components/buttons" as *;

/* variables */
@use "../abstracts/variables" as *;

/* header */
@use "../layout/header" as *;

/* events */
@use "../layout/events" as *;

/* footer */
@use "../layout/footer" as *;

.contact-page{
    display: flex;
    flex-direction: row;
    gap: 20px;
    .cont{
        width:100%;
        height:100vh;
        display:flex;
        align-items: center;
        justify-content: end;
        }
        .cont::before{
            content:"";
            position: absolute;
            background-color: $gold-color;
            width: 300vw;
            height: 100vh;
            left: 0;
            animation: right 0.5s ease-in-out  1 forwards ;
          
        
        }
        @keyframes right {
            100%{
                width: 40%;
               height: 100vh;
               border-bottom-right-radius: 100%
            }
        }
        .child{
            display: flex;
            position: absolute;
            width: 30%;
            left: 20px;
        }
        .hdn{
          visibility: hidden;
        }
        .cont2{
          display: flex;
        //   width: 50%;
          flex-direction: row;
          margin-right: 40px;
          height: 500px;
          margin-top: 40px;
        //   flex-wrap: wrap;
        }
        .cont3{
            display: none;
        }
        .child span{
          font-size: 60px;
            font-weight: 400;
            color: white;
            opacity: 0;
            animation-duration: 1.5s;
            animation-fill-mode: forwards;
            filter: blur(4px);
        }
        .child span:nth-child(1){
            animation: typing 1s linear 1s forwards;
        }
        .child span:nth-child(2){
            animation: typing 1s linear 1.1s forwards;
        }
        .child span:nth-child(3){
            animation: typing 1s linear 1.2s forwards;
        }
        .child span:nth-child(4){
            animation: typing 1s linear 1.3s forwards;
        }
        .child span:nth-child(5){
            animation: typing 1s linear 1.4s forwards;
        }
        .child span:nth-child(6){
            animation: typing 1s linear 1.5s forwards;
        }
        .child span:nth-child(7){
            animation: typing 1s linear 1.6s forwards;
        }
        .child span:nth-child(8){
            animation: typing 1s linear 1.7s forwards;
        }
        @keyframes typing {
            100%{
                opacity: 1;
                filter: blur(0px);
            }
        }
        
        form{
            height: 500px;
            width: 400px;
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            margin-right: 8%;
            justify-content: center;
            align-items: center;
            padding: 35px 0px;
            border-radius: 20px; 
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;           
            transform: scale(0);
            animation: zoom 0.5s ease-in-out 0.5s 1 forwards ;
        }
        @keyframes zoom {
            100%{
                transform: scale(1);
            }
        }
        a{
            text-decoration: none;
        }
        input,button{
            width: 300px;
            padding:  20px 30px;
            text-align: center;
            justify-content: center;
            align-items: center;
            font-size: 13px;
            background-color: rgb(223, 223, 228);
            border-radius: .5rem;
            border: 0.125rem solid #fff;
            outline: none;
        
        }
        button{
            background-color: $gold-color;
            color: white;
            font-size: 15px;
            margin-top: 10px;
        }
        .info{
            height: 500px;
          width: 400px;
          display: flex;
          flex-direction: column;
          margin-right: 2%;
          padding: 35px 0px;
          border-radius: 20px; 
          justify-content: center;
          align-items: center;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;           
          transform: scale(0);
          animation: zoom 0.5s ease-in-out 0.5s 1 forwards ;
          h2{
            margin-top: 20px;
          }
      }

      .info p{
        background-color: rgb(223, 223, 228);
        padding: 14px;
        margin-top: 10px;
      }
      .icons{
       display: flex;
       column-gap: 10px;
      }
      
      @media  screen and (max-width: 1200px){
        .cont{
            display: none;
        }
        .contact-page{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 40px;
        }
        .cont::before{
            display: none;
        }
            .child span{
         visibility: hidden;
      }
    .cont2{
        display: flex;
        flex-direction: row;
        // margin-right: 40px;
        // gap: 20px;
        // justify-content: space-around;
        height: auto;
        // flex-wrap: wrap;
        margin: 50px ;
      }
      form{
        height: 500px;
        width: 400px;
        // width: 400px;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        // margin-right: 8%;
        justify-content: center;
        align-items: center;
        padding: 35px 0px;
        border-radius: 20px; 
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;           
        transform: scale(0);
        animation: zoom 0.5s ease-in-out 0.5s 1 forwards ;
    }
      }
      .info{
        height: 500px;
      width: 400px;
      display: flex;
      flex-direction: column;
    //   margin-right: 2%;
      padding: 35px 0px;
      border-radius: 20px; 
      justify-content: center;
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;           
      transform: scale(0);
      animation: zoom 0.5s ease-in-out 0.5s 1 forwards ;
      h2{
        margin-top: 20px;
      }
  }

  .info p{
    background-color: rgb(223, 223, 228);
    padding: 14px;
    margin-top: 10px;
  }
  .icons{
   display: flex;
   column-gap: 10px;
  }
  @media (max-width:850px) {
    .contact-page{
        justify-content: center;
        align-items: center;
        display: flex;
        width: 100%;
    }
    .cont2{
        height: auto;
        display: block;
        width: 100%;
        padding: 0 10%;
        justify-content: center;
        align-items: center;
    }
    form{
        margin-top: 50px;
    }
    
  }
  @media (max-width:600px) {
    .cont{
        margin: 0;
    }
    .cont2{
        width: auto;
        padding: 5% 40px;
        margin: 0;
    }
    .info{
        padding: 30px;
        width: auto;
    }
    form{
        padding: 30px;
        width: auto;
    }
  }
  @media (max-width:500px) {
    .contact-page{
        margin-right: 0;
        padding: 0;
    }
    .cont2{
        display: none;
    }
    .cont3{
        // padding: 20px;
        display: block;
        // width: 90%;
        margin-right: 0;
        margin: 40px 0px;
        .info{
            height: auto;
            margin-right: 0;
        }
        form{
            height: auto;
            margin-right: 0;
            input, button{
                padding: 10px;
                width: 200px;
            }
        }
    }
    
   
  }


}