/* reset */ 
@use "../base/reset" as *;

/* buttons */
@use "../components/buttons" as *;

/* variables */
@use "../abstracts/variables" as *;

/* header */
@use "../layout/header" as *;

/* events */
@use "../layout/events" as *;

/* footer */
@use "../layout/footer" as *;


.event-page{
  .webinar{
    align-items: center;
    padding: 0 20%;
    justify-content: center;
    margin: 20px;
  }
  
  .box-1 {
    display: flex;
    flex-direction: column;
    --border-size: 3px;
    --border-angle: 0turn;
    height: 50vmin;
    padding: 40px;
    justify-content: center;
    align-items: center;
    // margin-top: 60px;
    background-image: conic-gradient(
        from var(--border-angle),
        $blue-color,
        $blue-color 50%,
        $blue-color
      ),
      conic-gradient(from var(--border-angle), transparent 20%, $gray-color, $yellow-color);
    background-size: calc(100% - (var(--border-size) * 2))
        calc(100% - (var(--border-size) * 2)),
      cover;
    background-position: center center;
    background-repeat: no-repeat;
  
    animation: bg-spin 3s linear infinite;
    @keyframes bg-spin {
      to {
        --border-angle: 1turn;
      }
    }
  
    &:hover {
      animation-play-state: paused;
    }
    h1{
        color: $text-color;
        font-family: $font-roboto;
        margin-bottom: 20px;
    }
    h5{
        color: $text-color;
        font-family: $font-roboto;
        margin-bottom: 20px;
    }
    p{
        color: $text-color;
        font-family: $font-roboto;
        margin-bottom: 20px;
    }
    .btn-star{
        margin-bottom: 20px;
        margin-top: 0;
        position: relative;
        padding: 12px 35px;
        background: rgb(255,235,192);
        background: linear-gradient(0deg, rgba(255,235,192,1) 0%, rgba(255,200,79,1) 100%);
        font-size: 17px;
        font-weight: 800;
        color: $blue-color;
        font-family: $font-roboto;
    }
  }
  

}
@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
