/* reset */ 
@use "../base/reset" as *;

/* buttons */
@use "../components/buttons" as *;

/* variables */
@use "../abstracts/variables" as *;

/* header */
@use "../layout/header" as *;

/* footer */
@use "../layout/footer" as *;

.executive-committee-page{
    .container1{
        padding: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 60px;
        flex-wrap: wrap;
        .card {
            position: relative;
            width: 250px;
            // height: 300px;
            margin-bottom: 30px;
            background-color: $blue-color;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 10px;
            overflow: hidden;
            perspective: 1000px;
            border-top: 2px solid;
            box-shadow: 0 3px 2px $text-color;
            font-family: $font-roboto;
            transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
            .p1{
                margin-top: 20px;
                font-size: 18px;
                font-weight: 600;
                font-family:Verdana, Geneva, Tahoma, sans-serif;
            }
            .p2{
              color: $text-color;
              font-weight: bold;
              font
            }
          }
          
          .card .img1 {
            width: 200px;
            height: 200px;
            transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          }
          
          .card:hover {
            transform: scale(1.05);
            // border-top: 0;
            // box-shadow: 0 3px $text-color;
            // box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
          }
    }
}