/* reset */ 
@use "../base/reset" as *;

/* buttons */
@use "../components/buttons" as *;

/* variables */
@use "../abstracts/variables" as *;

/* header */
@use "../layout/header" as *;

/* events */
@use "../layout/events" as *;

/* footer */
@use "../layout/footer" as *;


.home-page{
  .parallax{
    background-image: url("../../images/img3.jpg");
    min-height: 90vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    opacity: 0.77;
    color: $text-color;
    justify-content: space-around;
    align-items: last baseline;
    
}

.box1 {
    width: 400px;
	font-size: 3vw;
	margin: max(1rem, 3vw);
	border: 0.15rem solid;
  background-color: $text-color;
  opacity: 0.8;
	padding: 3vw;
  color: $blue-color;
    p{
        font-size: 25px;
    }
}

.box2 {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 400px;
  line-height: 30px;
	font-size: 3vw;
  color: $blue-color;
  background-color: $text-color;
  opacity: 0.8;
	margin: max(1rem, 3vw);
	border: 0.15rem solid;
	padding: 20px;
    p{
        font-size: 25px;
    }
}

// .box1:hover, .box2:hover{
//     border-image: conic-gradient(from var(--angle), var(--c1), var(--c3) 0.1turn, var(--c3) 0.15turn, var(--c1) 0.25turn) 30;
//     // color: var(--c1);
// }

@keyframes borderRotate {
	100% {
		--angle: 420deg;
	}
}

@keyframes borderRadial {
	20% {
		--gradX: 100%;
		--gradY: 50%;
	}
	40% {
		--gradX: 100%;
		--gradY: 100%;
	}
	60% {
		--gradX: 50%;
		--gradY: 100%;
	}
	80% {
		--gradX: 0%;
		--gradY: 50%;
	}
	100% {
		--gradX: 50%;
		--gradY: 0%;
	}
}

.wrapper {
    border: 2px solid $gold-color;
    box-shadow: 1px 1px 10px $yellow-color;
    width: 80%;
    margin: 20px 10%;
    text-align: center;
    border-radius: 10px;
    padding: 40px;
    font-family: $font-roboto;
    background-color: $blue-color;
    line-height: 30px;
    h1{
        line-height: 40px;
        // font-weight: bolder;
        color: $text-color;
        font-size: 28px;
        font-family: sans-serif;
    }
    h5{
        margin-top: 10px;
        margin-left: 30px;
        color: $gold-color;
        font-size: 20px;
    }
    p{
        margin-top: 20px;
        font-size: 20px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 30px;
        font-weight: 600;
    }
    .btn1{
        margin-top: 30px;
      }
    
  }

  @media (max-width:700px) {
    .wrapper{
      h1{
        line-height: 50px;
        font-weight: bolder;
        color: $blue-color;
        font-size: 35px;
    }
    h5{
        margin-top: 10px;
        margin-left: 30px;
        color: $gray-color;
        font-size: 20px;
    }
    p{
        margin-top: 20px;
        font-size: 25px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        line-height: 35px;
    }
    }
  }

  .wrapper:hover{
    border: 2px solid $text-color;
    box-shadow: 2px 2px 120px $gold-color inset;
  }
  
  
  
  .btn2 {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    padding: 15px;
    border-radius: 50%;
    z-index: 99;
  }
  
  .btn2:hover {
    padding: 15px;
    border-radius: 50%;
  }

// .anim1::before{
//     animation: anim 30s infinite;
// 	background: $blue-grad1-color;
// 	border-radius: 30% 70% 53% 47% / 26% 46% 54% 74%;
// 	content: "";
// 	height: 30vmin;
// 	position: absolute;
// 	width: 30vmin;
//     top: 530px;
//     left: 45%;
//     z-index: 11;
// }

// @keyframes anim {
// 	0%,
// 	100% {
// 		border-radius: 30% 70% 70% 30% / 30% 52% 48% 70%;
// 	}

// 	10% {
// 		border-radius: 50% 50% 20% 80% / 25% 80% 20% 75%;
// 	}

// 	20% {
// 		border-radius: 67% 33% 47% 53% / 37% 20% 80% 63%;
// 	}

// 	30% {
// 		border-radius: 39% 61% 47% 53% / 37% 40% 60% 63%;
// 	}

// 	40% {
// 		border-radius: 39% 61% 82% 18% / 74% 40% 60% 26%;
// 	}

// 	50% {
// 		border-radius: 100%;
// 	}

// 	60% {
// 		border-radius: 50% 50% 53% 47% / 72% 69% 31% 28%;
// 	}

// 	70% {
// 		border-radius: 50% 50% 53% 47% / 26% 22% 78% 74%;
// 	}

// 	80% {
// 		border-radius: 50% 50% 53% 47% / 26% 69% 31% 74%;
// 	}

// 	90% {
// 		border-radius: 20% 80% 20% 80% / 20% 80% 20% 80%;
// 	}
// }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}