/* home page */
/* reset */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

a:hover, .active {
  color: #BFB182;
}

body {
  background-color: #25213C;
}

/* buttons */
.btn1 {
  border: none;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  background: #25213C;
  background: linear-gradient(90deg, rgb(5, 58, 117) 4%, rgb(25, 116, 173) 100%);
  border: none;
  border-radius: 160px;
  color: white;
  text-decoration: none;
}

.btn1:hover {
  border: none;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  background: #25213C;
  border: none;
  border-radius: 160px;
  color: white;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(25, 116, 173) 4%, rgb(5, 58, 117) 100%);
}

.btn-star {
  margin-top: 30px;
  position: relative;
  padding: 12px 35px;
  background: #25213C;
  font-size: 17px;
  font-weight: 800;
  color: #BFB182;
  border: 3px solid #25213C;
  border-radius: 8px;
  box-shadow: 0 0 0 rgba(254, 193, 149, 0.5490196078);
  transition: all 0.3s ease-in-out;
  font-family: "Roboto", sans-serif;
}
.btn-star .star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #25213C);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}
.btn-star .star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #25213C);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}
.btn-star .star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #25213C);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}
.btn-star .star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #25213C);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}
.btn-star .star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #25213C);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}
.btn-star .star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #25213C);
  z-index: -5;
  transition: all 0.8s ease;
}
.btn-star .fil0 {
  fill: #bd9204;
}

.btn-star:hover {
  background: transparent;
  color: #25213C;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
.btn-star:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}
.btn-star:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}
.btn-star:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}
.btn-star:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}
.btn-star:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}
.btn-star:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

/* variables */
/* header */
.header {
  align-items: center;
  text-align: center;
  background-color: #25213C;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: "Roboto", sans-serif;
}
.header_logo {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header_head {
  display: flex;
  gap: 10px;
}
.header .fa {
  display: none;
}

.side_nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #25213C;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.side_nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

.side_nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media (max-width: 970px) {
  .header_head {
    display: none;
  }
  .header .fa {
    display: block;
  }
  .header .side_nav {
    display: block;
  }
}
/* events */
.events {
  margin: 5%;
}
.events .h1 {
  font-weight: bolder;
  color: #25213C;
  font-size: 35px;
  margin-bottom: 40px;
  font-family: "Roboto", sans-serif;
}
.events .event {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
}
.events .event .img1 {
  width: 400px;
  height: 400px;
}
.events .event .event1 {
  --c:#BFB182; /* the border color */
  --b: 5px; /* the border thickness*/
  --g: 5px; /* the gap on hover */
  padding: 30px;
  --_g: #0000 25%,var(--c) 0;
  background: conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) var(--_i, 200%) 0/200% var(--_i, var(--b)) no-repeat, conic-gradient(at bottom var(--b) left var(--b), var(--_g)) 0 var(--_i, 200%)/var(--_i, var(--b)) 200% no-repeat;
  transition: 0.3s, background-position 0.3s 0.3s;
  cursor: pointer;
}
.events .event .event1 .h1 {
  line-height: 50px;
  font-weight: bolder;
  color: #25213C;
  font-size: 35px;
}
.events .event .event1 .h5 {
  margin-top: 10px;
  margin-left: 30px;
  color: #BFB182;
  font-size: 20px;
}
.events .event .event1 .p {
  margin-top: 20px;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 40px;
}
.events .event .event1 .btn-star {
  margin-top: 60px;
}
.events .event .event1:hover {
  --_i: 100%;
  transition: 0.3s, background-size 0.3s 0.3s;
}

@media (max-width: 800px) {
  .events .event .img1 {
    width: 300px;
  }
}
@media (max-width: 700px) {
  .events {
    margin-left: 0;
    align-items: center;
    justify-content: center;
  }
  .events .event {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .events .event .img1 {
    width: 300px;
    height: 300px;
  }
  .events .event .event1 {
    margin-left: 10px;
  }
  .events .event .event1 .h1 {
    line-height: 40px;
    font-size: 30px;
  }
  .events .event .event1 .h5 {
    margin-top: 10px;
    margin-left: 30px;
    font-size: 20px;
  }
  .events .event .event1 .p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 27px;
  }
  .events .event .event1 .btn-star {
    margin-top: 40px;
  }
}
/* footer */
footer {
  padding: 30px;
  height: 50vh;
  width: 100%;
  background: rgb(5, 58, 117);
  background: linear-gradient(0deg, rgb(5, 58, 117) 0%, rgb(25, 116, 173) 53%, rgb(5, 58, 117) 100%);
  display: flex;
  justify-content: space-around;
}
footer h1 {
  line-height: 50px;
  font-weight: bolder;
  color: white;
  font-size: 35px;
}
footer h5 {
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  color: white;
  font-size: 20px;
  line-height: 30px;
}
footer a {
  font-size: 20px;
  line-height: 30px;
}

footer:hover {
  background: rgb(5, 58, 117);
  background: linear-gradient(90deg, rgb(5, 58, 117) 0%, rgb(25, 116, 173) 53%, rgb(5, 58, 117) 100%);
}

.copy-rights {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  padding-right: 80px;
  background: rgb(5, 58, 117);
  background: linear-gradient(0deg, rgb(5, 58, 117) 0%, rgb(25, 116, 173) 53%, rgb(5, 58, 117) 100%);
  color: white;
}

.parallax {
  background-image: url("../../images/img2.avif");
  min-height: 90vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  opacity: 0.77;
  color: white;
  justify-content: space-around;
  align-items: last baseline;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: true;
}
@property --gradX {
  syntax: "<percentage>";
  initial-value: 50%;
  inherits: true;
}
@property --gradY {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: true;
}
:root {
  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: #BFB182;
  --c2: rgba(168, 239, 255, 0.1);
  --c3:#25213C;
}

.box1 {
  width: 400px;
  font-size: 3vw;
  margin: max(1rem, 3vw);
  border: 0.35rem solid;
  padding: 3vw;
  -o-border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
     border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
  animation: borderRotate var(--d) linear infinite forwards;
}
.box1 p {
  font-size: 25px;
}

.box2 {
  width: 800px;
  line-height: 30px;
  font-size: 3vw;
  margin: max(1rem, 3vw);
  border: 0.35rem solid;
  padding: 3vw;
  -o-border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
     border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
  animation: borderRotate var(--d) linear infinite forwards;
}
.box2 p {
  font-size: 20px;
}

.box1:hover, .box2:hover {
  -o-border-image: conic-gradient(from var(--angle), var(--c1), var(--c3) 0.1turn, var(--c3) 0.15turn, var(--c1) 0.25turn) 30;
     border-image: conic-gradient(from var(--angle), var(--c1), var(--c3) 0.1turn, var(--c3) 0.15turn, var(--c1) 0.25turn) 30;
  color: var(--c1);
}

@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}
@keyframes borderRadial {
  20% {
    --gradX: 100%;
    --gradY: 50%;
  }
  40% {
    --gradX: 100%;
    --gradY: 100%;
  }
  60% {
    --gradX: 50%;
    --gradY: 100%;
  }
  80% {
    --gradX: 0%;
    --gradY: 50%;
  }
  100% {
    --gradX: 50%;
    --gradY: 0%;
  }
}
.wrapper {
  box-shadow: 1px 1px 100px #bd9204 inset;
  width: 90%;
  margin: 20px 5%;
  text-align: center;
  border-radius: 10px;
  padding: 40px;
  font-family: "Roboto", sans-serif;
  background-color: white;
  line-height: 30px;
}
.wrapper h1 {
  line-height: 70px;
  font-weight: bolder;
  color: #25213C;
  font-size: 45px;
}
.wrapper h5 {
  margin-top: 10px;
  margin-left: 30px;
  color: #BFB182;
  font-size: 20px;
}
.wrapper p {
  margin-top: 20px;
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 40px;
}
.wrapper .btn1 {
  margin-top: 30px;
}

@media (max-width: 700px) {
  .wrapper h1 {
    line-height: 50px;
    font-weight: bolder;
    color: #25213C;
    font-size: 35px;
  }
  .wrapper h5 {
    margin-top: 10px;
    margin-left: 30px;
    color: #BFB182;
    font-size: 20px;
  }
  .wrapper p {
    margin-top: 20px;
    font-size: 25px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 35px;
  }
}
.wrapper:hover {
  box-shadow: 1px 1px 10px #bd9204;
}

.btn2 {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  padding: 15px;
  border-radius: 50%;
  z-index: 99;
}

.btn2:hover {
  padding: 15px;
  border-radius: 50%;
}

/* about page */
/* reset */
/* buttons */
/* variables */
/* header */
/* events */
/* footer */
/* executive committee page */
/* reset */
/* buttons */
/* variables */
/* header */
/* events */
/* footer */
/* events page */
/* reset */
/* buttons */
/* variables */
/* header */
/* events */
/* footer */
/* membership page */
/* reset */
/* buttons */
/* variables */
/* header */
/* events */
/* footer */
/* chencon page */
/* reset */
/* buttons */
/* variables */
/* header */
/* events */
/* footer */
/* chenlink newsletter page */
/* reset */
/* buttons */
/* variables */
/* header */
/* events */
/* footer */
/* contact page */
/* reset */
/* buttons */
/* variables */
/* header */
/* events */
/* footer *//*# sourceMappingURL=main.css.map */