/* home page */
/* reset */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}

a:hover, .active {
  color: #BFB182;
}

body {
  background-color: black;
}

/* buttons */
.btn1 {
  border: none;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  background: black;
  background: linear-gradient(90deg, rgb(5, 58, 117) 4%, rgb(25, 116, 173) 100%);
  border: none;
  border-radius: 160px;
  color: white;
  text-decoration: none;
}

.btn1:hover {
  border: none;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  background: black;
  border: none;
  border-radius: 160px;
  color: white;
  text-decoration: none;
  background-image: linear-gradient(90deg, rgb(25, 116, 173) 4%, rgb(5, 58, 117) 100%);
}

.btn-star {
  margin-top: 30px;
  position: relative;
  padding: 12px 35px;
  background: black;
  font-size: 17px;
  font-weight: 800;
  color: #BFB182;
  border: 3px solid black;
  border-radius: 8px;
  box-shadow: 0 0 0 rgba(254, 193, 149, 0.5490196078);
  transition: all 0.3s ease-in-out;
  font-family: "Roboto", sans-serif;
}
.btn-star .star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 black);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}
.btn-star .star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 black);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}
.btn-star .star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 black);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}
.btn-star .star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 black);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}
.btn-star .star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 black);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}
.btn-star .star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 black);
  z-index: -5;
  transition: all 0.8s ease;
}
.btn-star .fil0 {
  fill: #bd9204;
}

.btn-star:hover {
  background: transparent;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
.btn-star:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}
.btn-star:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}
.btn-star:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}
.btn-star:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}
.btn-star:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}
.btn-star:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

/* variables */
/* header */
.header {
  align-items: center;
  text-align: center;
  background-color: black;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  color: white;
  font-family: "Roboto", sans-serif;
  box-shadow: 1px 1px 10px #BFB182;
}
.header_logo {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header_head {
  display: flex;
  gap: 10px;
}
.header .fa {
  display: none;
}

.side_nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.side_nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

.side_nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media (max-width: 970px) {
  .header_head {
    display: none;
  }
  .header .fa {
    display: block;
  }
  .header .side_nav {
    display: block;
  }
}
/* events */
.events {
  margin: 5%;
}
.events .h1 {
  font-weight: bolder;
  color: black;
  font-size: 35px;
  margin-bottom: 40px;
  font-family: "Roboto", sans-serif;
}
.events .event {
  box-shadow: 1px 1px 10px #BFB182;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  margin-bottom: 50px;
  background-color: white;
  justify-content: space-between;
}
.events .event .img1 {
  width: 400px;
  height: 400px;
}
.events .event .event1 {
  --c:#BFB182; /* the border color */
  --b: 5px; /* the border thickness*/
  --g: 5px; /* the gap on hover */
  padding: 30px;
  --_g: #0000 25%,var(--c) 0;
  border-radius: 30px;
  background: conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) var(--_i, 200%) 0/200% var(--_i, var(--b)) no-repeat, conic-gradient(at bottom var(--b) left var(--b), var(--_g)) 0 var(--_i, 200%)/var(--_i, var(--b)) 200% no-repeat;
  transition: 0.3s, background-position 0.3s 0.3s;
  cursor: pointer;
}
.events .event .event1 .h1 {
  line-height: 50px;
  font-weight: bolder;
  color: black;
  font-size: 35px;
}
.events .event .event1 .h5 {
  margin-top: 10px;
  margin-left: 30px;
  color: #BFB182;
  font-size: 20px;
}
.events .event .event1 .p {
  margin-top: 20px;
  font-size: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 40px;
}
.events .event .event1 .btn-star {
  margin-top: 60px;
}
.events .event .event1:hover {
  --_i: 100%;
  transition: 0.3s, background-size 0.3s 0.3s;
}

@media (max-width: 800px) {
  .events .event .img1 {
    width: 300px;
  }
}
@media (max-width: 700px) {
  .events {
    margin-left: 0;
    align-items: center;
    justify-content: center;
  }
  .events .event {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .events .event .img1 {
    width: 300px;
    height: 300px;
  }
  .events .event .event1 {
    margin-left: 10px;
  }
  .events .event .event1 .h1 {
    line-height: 40px;
    font-size: 30px;
  }
  .events .event .event1 .h5 {
    margin-top: 10px;
    margin-left: 30px;
    font-size: 20px;
  }
  .events .event .event1 .p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 27px;
  }
  .events .event .event1 .btn-star {
    margin-top: 40px;
  }
}
/* footer */
footer {
  padding: 30px;
  height: 50vh;
  width: 100%;
  background: rgb(5, 58, 117);
  background: linear-gradient(0deg, rgb(5, 58, 117) 0%, rgb(25, 116, 173) 53%, rgb(5, 58, 117) 100%);
  display: flex;
  justify-content: space-around;
}
footer h1 {
  line-height: 50px;
  font-weight: bolder;
  color: white;
  font-size: 35px;
}
footer h5 {
  font-family: "Roboto", sans-serif;
  margin-top: 10px;
  color: white;
  font-size: 20px;
  line-height: 30px;
}
footer a {
  font-size: 20px;
  line-height: 30px;
}

footer:hover {
  background: rgb(5, 58, 117);
  background: linear-gradient(90deg, rgb(5, 58, 117) 0%, rgb(25, 116, 173) 53%, rgb(5, 58, 117) 100%);
}

.copy-rights {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  padding-right: 80px;
  background: rgb(5, 58, 117);
  background: linear-gradient(0deg, rgb(5, 58, 117) 0%, rgb(25, 116, 173) 53%, rgb(5, 58, 117) 100%);
  color: white;
}

.parallax {
  background-image: url("../../images/img2.avif");
  min-height: 90vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  opacity: 0.77;
  color: white;
  justify-content: space-around;
  align-items: last baseline;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: true;
}
@property --gradX {
  syntax: "<percentage>";
  initial-value: 50%;
  inherits: true;
}
@property --gradY {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: true;
}
:root {
  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: #BFB182;
  --c2: rgba(168, 239, 255, 0.1);
  --c3:black;
}

.box1 {
  width: 400px;
  font-size: 3vw;
  margin: max(1rem, 3vw);
  border: 0.35rem solid;
  padding: 3vw;
  -o-border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
     border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
  animation: borderRotate var(--d) linear infinite forwards;
}
.box1 p {
  font-size: 25px;
}

.box2 {
  width: 800px;
  line-height: 30px;
  font-size: 3vw;
  margin: max(1rem, 3vw);
  border: 0.35rem solid;
  padding: 3vw;
  -o-border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
     border-image: conic-gradient(from var(--angle), var(--c2), var(--c1) 0.1turn, var(--c1) 0.15turn, var(--c2) 0.25turn) 30;
  animation: borderRotate var(--d) linear infinite forwards;
}
.box2 p {
  font-size: 20px;
}

.box1:hover, .box2:hover {
  -o-border-image: conic-gradient(from var(--angle), var(--c1), var(--c3) 0.1turn, var(--c3) 0.15turn, var(--c1) 0.25turn) 30;
     border-image: conic-gradient(from var(--angle), var(--c1), var(--c3) 0.1turn, var(--c3) 0.15turn, var(--c1) 0.25turn) 30;
  color: var(--c1);
}

@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}
@keyframes borderRadial {
  20% {
    --gradX: 100%;
    --gradY: 50%;
  }
  40% {
    --gradX: 100%;
    --gradY: 100%;
  }
  60% {
    --gradX: 50%;
    --gradY: 100%;
  }
  80% {
    --gradX: 0%;
    --gradY: 50%;
  }
  100% {
    --gradX: 50%;
    --gradY: 0%;
  }
}
.wrapper {
  box-shadow: 1px 1px 100px #bd9204 inset;
  width: 90%;
  margin: 20px 5%;
  text-align: center;
  border-radius: 10px;
  padding: 40px;
  font-family: "Roboto", sans-serif;
  background-color: white;
  line-height: 30px;
}
.wrapper h1 {
  line-height: 70px;
  font-weight: bolder;
  color: black;
  font-size: 45px;
}
.wrapper h5 {
  margin-top: 10px;
  margin-left: 30px;
  color: #BFB182;
  font-size: 20px;
}
.wrapper p {
  margin-top: 20px;
  font-size: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 40px;
}
.wrapper .btn1 {
  margin-top: 30px;
}

@media (max-width: 700px) {
  .wrapper h1 {
    line-height: 50px;
    font-weight: bolder;
    color: black;
    font-size: 35px;
  }
  .wrapper h5 {
    margin-top: 10px;
    margin-left: 30px;
    color: #BFB182;
    font-size: 20px;
  }
  .wrapper p {
    margin-top: 20px;
    font-size: 25px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 35px;
  }
}
.wrapper:hover {
  box-shadow: 1px 1px 10px #bd9204;
}

.btn2 {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  padding: 15px;
  border-radius: 50%;
  z-index: 99;
}

.btn2:hover {
  padding: 15px;
  border-radius: 50%;
}

/* about page */
/* reset */
/* buttons */
/* variables */
/* header */
/* grid */
/* variables */
/*works janky on mobile :<*/
.container {
  position: relative;
  width: 400px;
  height: 100px;
  transition: 200ms;
}

.container:active {
  width: 290px;
  height: 90px;
}

#card {
  position: absolute;
  inset: 0;
  z-index: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  transition: 700ms;
  background: rgb(255, 235, 192);
  background: linear-gradient(0deg, rgb(255, 235, 192) 0%, rgb(191, 177, 130) 100%);
}

#prompt {
  align-items: center;
  z-index: 20;
  font-size: 20px;
  font-weight: 900;
  transition: 300ms ease-in-out-out;
  color: black;
  font-family: "Roboto", sans-serif;
}

.tracker {
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
}

.tracker:hover {
  cursor: pointer;
}

.tracker:hover ~ #card {
  transition: 300ms;
  filter: brightness(1.1);
}

.container:hover #card::before {
  transition: 200ms;
  content: "";
  opacity: 80%;
}

.canvas {
  perspective: 800px;
  inset: 0;
  z-index: 200;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "tr-1 tr-2 tr-3 tr-4 tr-5" "tr-6 tr-7 tr-8 tr-9 tr-10" "tr-11 tr-12 tr-13 tr-14 tr-15" "tr-16 tr-17 tr-18 tr-19 tr-20" "tr-21 tr-22 tr-23 tr-24 tr-25";
}

#card::before {
  content: "";
  filter: blur(2rem);
  opacity: 30%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  transition: 200ms;
}

.tr-1 {
  grid-area: tr-1;
}

.tr-2 {
  grid-area: tr-2;
}

.tr-3 {
  grid-area: tr-3;
}

.tr-4 {
  grid-area: tr-4;
}

.tr-5 {
  grid-area: tr-5;
}

.tr-6 {
  grid-area: tr-6;
}

.tr-7 {
  grid-area: tr-7;
}

.tr-8 {
  grid-area: tr-8;
}

.tr-9 {
  grid-area: tr-9;
}

.tr-10 {
  grid-area: tr-10;
}

.tr-11 {
  grid-area: tr-11;
}

.tr-12 {
  grid-area: tr-12;
}

.tr-13 {
  grid-area: tr-13;
}

.tr-14 {
  grid-area: tr-14;
}

.tr-15 {
  grid-area: tr-15;
}

.tr-16 {
  grid-area: tr-16;
}

.tr-17 {
  grid-area: tr-17;
}

.tr-18 {
  grid-area: tr-18;
}

.tr-19 {
  grid-area: tr-19;
}

.tr-20 {
  grid-area: tr-20;
}

.tr-21 {
  grid-area: tr-21;
}

.tr-22 {
  grid-area: tr-22;
}

.tr-23 {
  grid-area: tr-23;
}

.tr-24 {
  grid-area: tr-24;
}

.tr-25 {
  grid-area: tr-25;
}

.tr-1:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-2:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-3:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-4:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-5:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(10deg) rotateZ(0deg);
}

.tr-6:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-7:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-8:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-9:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-10:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-11:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-12:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-13:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.tr-14:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(5deg) rotateZ(0deg);
}

.tr-15:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(10deg) rotateZ(0deg);
}

.tr-16:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-17:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-18:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-19:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-20:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-21:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-22:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-23:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-24:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-25:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(10deg) rotateZ(0deg);
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}

/* footer */
main {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .con1 {
  align-items: center;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: black;
  padding: 50px;
  border-radius: 5px;
}
main .con1 .con-1 {
  width: 750px;
  padding: 30px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 1px 1px 100px #bd9204 inset;
}
main .con1 .con-1 h1 {
  color: black;
  font-size: 30px;
}
main .con1 .con-1 h5 {
  margin-top: 10px;
  color: black;
  font-size: 18px;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
}
main .con1 .main-png {
  width: 400px;
}
main .con2 {
  margin-top: 50px;
  width: 70%;
  color: white;
  padding: 30px;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 10px #BFB182;
  border-radius: 10px;
}
main .con2 .con-2 {
  display: flex;
  flex-direction: row;
}
main .con2 .con-2 p {
  margin-top: 10px;
  color: white;
  font-size: 18px;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
}
main .con3 {
  width: 90%;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
main .con3 h1 {
  color: #BFB182;
}
main .con3 .con-3 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
main .con3 .con-3 p {
  width: 30%;
  color: #BFB182;
  font-size: 18px;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
}
main .con4 {
  width: 100%;
  justify-content: center;
  display: flex;
  margin: 40px;
}
main .con5 {
  width: 90%;
  align-items: center;
  justify-content: center;
}
main .con5 h1 {
  color: #BFB182;
  font-size: 28px;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 30px;
}
main .con5 .con-5 {
  justify-content: center;
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}

main .con-1:hover {
  box-shadow: 1px 1px 10px #bd9204;
}
main .con2:hover {
  box-shadow: none;
  border-radius: 0;
}
main .con3:hover {
  box-shadow: 1px 1px 10px #BFB182;
}

@media (max-width: 1090px) {
  main .con1 {
    display: flex;
    flex-direction: column-reverse;
  }
  main .con1 .con-1 {
    width: 100%;
  }
}
@media (max-width: 900px) {
  main .con2 .con-2 {
    flex-direction: column;
  }
}
@media (max-width: 700px) {
  main .con3 .con-3 {
    flex-direction: column;
  }
  main .con3 .con-3 p {
    width: 100%;
  }
}
.num-card {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
  justify-content: center;
  width: 1100px;
  padding: 40px 0px;
  background: rgb(255, 235, 192);
  background: linear-gradient(0deg, rgb(255, 235, 192) 0%, rgb(255, 200, 79) 100%);
  border-radius: 20px;
}
.num-card .number-field {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  font-size: 40px;
  color: black;
  font-weight: 900;
}
.num-card .num-con {
  width: 180px;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.num-card .num-text {
  margin-top: 20px;
  font-weight: 900;
  color: black;
  font-size: 22px;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 860px) {
  .num-card .number-field {
    font-size: 30px;
  }
  .num-card .num-text {
    font-size: 18px;
  }
}
@media (max-width: 740px) {
  .num-card .number-field {
    font-size: 25px;
  }
  .num-card .num-text {
    font-size: 16px;
  }
  .num-card .num-con {
    width: 100px;
  }
}
@media (max-width: 665px) {
  .num-card .number-field {
    font-size: 25px;
  }
  .num-card .num-text {
    font-size: 14px;
  }
}
@media (max-width: 550px) {
  .num-card .number-field {
    font-size: 22px;
  }
  .num-card .num-text {
    font-size: 12px;
  }
}
@media (max-width: 460px) {
  .num-card .number-field {
    font-size: 14px;
  }
  .num-card .num-text {
    font-size: 10px;
  }
  .num-card .num-con {
    width: 50px;
  }
}
@media (max-width: 300px) {
  .num-card .number-field {
    font-size: 22px;
  }
  .num-card .num-text {
    font-size: 16px;
  }
  .num-card .num-con {
    width: 80px;
  }
}

@media (max-width: 750px) {
  .num-card {
    -moz-column-gap: 10px;
         column-gap: 10px;
    padding: 30px 0;
  }
}
@media (max-width: 450px) {
  .num-card {
    -moz-column-gap: 10px;
         column-gap: 10px;
    padding: 30px 0;
  }
}
@media (max-width: 300px) {
  .num-card {
    display: grid;
    grid-template-columns: repeat(1fr);
    background-image: linear-gradient(yellow, yellow);
    background-size: 50px 0;
    row-gap: 40px;
    width: 100px;
  }
}
/* executive committee page */
/* reset */
/* buttons */
/* variables */
/* header */
/* footer */
main .container1 {
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}
main .container1 .card {
  position: relative;
  width: 220px;
  height: 300px;
  margin-bottom: 30px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #BFB182;
  font-family: "Roboto", sans-serif;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
main .container1 .card .p1 {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 900;
}
main .container1 .card .img1 {
  width: 100%;
  height: 70%;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
main .container1 .card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}
main .container1 .card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
main .container1 .card:hover .card__content {
  transform: rotateX(0deg);
}
main .container1 .card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}
main .container1 .card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #bd9204;
  line-height: 1.4;
}

/* events page */
/* reset */
/* buttons */
/* variables */
/* header */
/* events */
/* footer */
.box-1 {
  display: flex;
  flex-direction: column;
  --border-size: 3px;
  --border-angle: 0turn;
  height: 50vmin;
  padding: 40px;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  background-image: conic-gradient(from var(--border-angle), black, black 50%, black), conic-gradient(from var(--border-angle), transparent 20%, #BFB182, #bd9204);
  background-size: calc(100% - var(--border-size) * 2) calc(100% - var(--border-size) * 2), cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation: bg-spin 3s linear infinite;
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
.box-1:hover {
  animation-play-state: paused;
}
.box-1 h1 {
  color: white;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}
.box-1 h5 {
  color: white;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}
.box-1 p {
  color: white;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}
.box-1 .btn-star {
  margin-bottom: 20px;
  margin-top: 0;
  position: relative;
  padding: 12px 35px;
  background: rgb(255, 235, 192);
  background: linear-gradient(0deg, rgb(255, 235, 192) 0%, rgb(255, 200, 79) 100%);
  font-size: 17px;
  font-weight: 800;
  color: black;
  font-family: "Roboto", sans-serif;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
/* membership page */
/* reset */
/* buttons */
/* variables */
/* header */
/* events */
/* footer */
/* chencon page */
/* reset */
/* buttons */
/* variables */
/* header */
/* events */
/* footer */
/* chenlink newsletter page */
/* reset */
/* buttons */
/* variables */
/* header */
/* events */
/* footer */
/* contact page */
/* reset */
/* buttons */
/* variables */
/* header */
/* events */
/* footer */
main .container-1 .form-container {
  margin-top: 60px;
  margin-bottom: 40px;
  font-family: "Roboto", sans-serif;
  width: 400px;
  background: linear-gradient(#212121, #212121) padding-box, linear-gradient(145deg, transparent 35%, #BFB182, #bd9204) border-box;
  border: 2px solid transparent;
  padding: 32px 24px;
  font-size: 14px;
  font-family: inherit;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;
  border-radius: 16px;
}
main .container-1 .form-container button:active {
  scale: 0.95;
}
main .container-1 .form-container .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .container-1 .form-container .form-group {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
main .container-1 .form-container .form-group label {
  display: block;
  margin-bottom: 5px;
  color: #717171;
  font-weight: 600;
  font-size: 12px;
}
main .container-1 .form-container .form-group input {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  color: #fff;
  font-family: inherit;
  background-color: transparent;
  border: 1px solid #414141;
}
main .container-1 .form-container .form-group textarea {
  width: 100%;
  padding: 12px 16px;
  border-radius: 8px;
  resize: none;
  color: #fff;
  height: 96px;
  border: 1px solid #414141;
  background-color: transparent;
  font-family: inherit;
}
main .container-1 .form-container .form-group input::-moz-placeholder {
  opacity: 0.5;
}
main .container-1 .form-container .form-group input::placeholder {
  opacity: 0.5;
}
main .container-1 .form-container .form-group input:focus {
  outline: none;
  border-color: #BFB182;
}
main .container-1 .form-container .form-group textarea:focus {
  outline: none;
  border-color: #BFB182;
}
main .container-1 .form-container .form-submit-btn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  align-self: flex-start;
  font-family: inherit;
  color: #717171;
  font-weight: 600;
  width: 40%;
  background: #313131;
  border: 1px solid #414141;
  padding: 12px 16px;
  font-size: inherit;
  gap: 8px;
  margin-top: 8px;
  cursor: pointer;
  border-radius: 6px;
}
main .container-1 .form-container .form-submit-btn:hover {
  background-color: #fff;
  border-color: #fff;
}
main .dots {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
main span {
  position: absolute;
  border-radius: 50%;
  background-image: linear-gradient(45deg, #BFB182, #bd9204);
  border-radius: 38% 62% 55% 45%/32% 53% 47% 68%;
  animation: vawe 7s linear infinite;
}
main span:nth-child(1) {
  top: 300px;
  left: calc(100% - 360px);
  width: 75px;
  height: 75px;
  animation: vawe 5s linear infinite;
}
main span:nth-child(2) {
  top: 105px;
  left: 180px;
  width: 50px;
  height: 50px;
  border-radius: 38% 62% 33% 67%/60% 53% 47% 40%;
  transform: rotate(90deg);
  animation: vawe 5s linear infinite;
}
main span:nth-child(3) {
  right: 180px;
  bottom: 20px;
  width: 80px;
  height: 80px;
  border-radius: 38% 62% 55% 45%/52% 53% 47% 48%;
  animation: vawe 5s linear infinite;
}
main span:nth-child(4) {
  bottom: 50px;
  left: 240px;
  width: 20px;
  height: 20px;
  border-radius: 38% 62% 55% 45%/52% 53% 47% 48%;
  animation: vawe 5s linear infinite;
}
main span:nth-child(5) {
  right: 280px;
  bottom: 80px;
  width: 25px;
  height: 25px;
  border-radius: 38% 62% 55% 45%/52% 53% 47% 48%;
  animation: vawe 5s linear infinite;
}
main span:nth-child(6) {
  top: 120px;
  left: calc(100% - 400px);
  width: 25px;
  height: 25px;
  animation: vawe 5s linear infinite;
}
@keyframes vawe {
  20% {
    border-radius: 45% 55% 62% 38%/53% 51% 49% 47%;
  }
  40% {
    border-radius: 45% 55% 49% 51%/36% 51% 49% 64%;
  }
  60% {
    border-radius: 60% 40% 57% 43%/47% 62% 38% 53%;
  }
  80% {
    border-radius: 60% 40% 32% 68%/38% 36% 64% 62%;
  }
}/*# sourceMappingURL=main.css.map */