/* home page */
/* reset */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #f9b234;
  border-bottom: 2px solid #f9b234;
}

.active {
  color: #f9b234;
}

body {
  background-color: white;
}

/* buttons */
.btn1 {
  border: none;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  background: white;
  border: none;
  color: white;
  text-decoration: none;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  padding: 15px;
  border-radius: 50%;
  z-index: 99;
}

.btn1:hover {
  border: none;
  padding: 15;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  background: #bd9204;
  border: none;
  border-radius: 50%;
  color: white;
  text-decoration: none;
}

.btn-star {
  margin-top: 30px;
  position: relative;
  padding: 12px 35px;
  font-size: 17px;
  font-weight: 800;
  border: 3px solid #bd9204;
  border-radius: 8px;
  box-shadow: 0 0 0 rgba(254, 193, 149, 0.5490196078);
  transition: all 0.3s ease-in-out;
  font-family: "Roboto", sans-serif;
  background: black;
  color: #bd9204;
}
.btn-star .star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 white);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}
.btn-star .star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 white);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}
.btn-star .star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 white);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}
.btn-star .star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 white);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}
.btn-star .star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 white);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}
.btn-star .star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 white);
  z-index: -5;
  transition: all 0.8s ease;
}
.btn-star .fil0 {
  fill: #bd9204;
}

.btn-star:hover {
  background: white;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: black;
}
.btn-star:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}
.btn-star:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}
.btn-star:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}
.btn-star:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}
.btn-star:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}
.btn-star:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

/* variables */
/* header */
.header {
  align-items: center;
  text-align: center;
  background-color: white;
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  color: black;
  font-family: "Roboto", sans-serif;
  box-shadow: 1px 1px 10px black;
}
.header_logo {
  display: flex;
  gap: 20px;
  align-items: center;
}
.header_logo p {
  line-height: 20px;
  font-family: sans-serif;
}
.header_head {
  display: flex;
  gap: 20px;
}
.header_head a {
  font-weight: 600;
  font-family: sans-serif;
}
.header .fa {
  display: none;
}

.side_nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.side_nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

.side_nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media (max-width: 970px) {
  .header_head {
    display: none;
  }
  .header .fa {
    display: block;
  }
  .header .side_nav {
    display: block;
  }
}
/* events */
.events {
  margin: 5%;
}
.events .h1 {
  font-weight: bolder;
  color: white;
  font-size: 25px;
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
}
.events .event {
  width: 80%;
  box-shadow: 2px 2px 20px black;
  margin-left: 10%;
  margin-right: 10%;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  gap: 20px;
  margin-bottom: 50px;
  background-color: white;
  justify-content: space-between;
}
.events .event .img1 {
  width: 250px;
  border: 2px solid black;
  border-radius: 10px;
}
.events .event .event1 {
  --c:#bd9204;
  /* the border color */
  --b: 2px; /* the border thickness*/
  --g: 5px; /* the gap on hover */
  padding: 30px;
  --_g: #0000 25%,var(--c) 0;
  border-radius: 30px;
  background: conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) var(--_i, 200%) 0/200% var(--_i, var(--b)) no-repeat, conic-gradient(at bottom var(--b) left var(--b), var(--_g)) 0 var(--_i, 200%)/var(--_i, var(--b)) 200% no-repeat;
  transition: 0.3s, background-position 0.3s 0.3s;
  cursor: pointer;
}
.events .event .event1 .h1 {
  line-height: 30px;
  font-weight: bolder;
  color: black;
  font-size: 25px;
}
.events .event .event1 .h5 {
  margin-left: 30px;
  color: #bd9204;
  font-size: 20px;
}
.events .event .event1 .p {
  margin-top: 20px;
  color: black;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 30px;
  font-weight: 600;
}
.events .event .event1 .btn-star {
  margin-top: 60px;
  margin-left: 60px;
}
.events .event .event1:hover {
  --_i: 100%;
  transition: 0.3s, background-size 0.3s 0.3s;
}

@media (max-width: 800px) {
  .events .event .img1 {
    width: 300px;
  }
}
@media (max-width: 700px) {
  .events {
    margin-left: 0;
    align-items: center;
    justify-content: center;
  }
  .events .event {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .events .event .img1 {
    width: 300px;
    height: 300px;
  }
  .events .event .event1 {
    margin-left: 10px;
  }
  .events .event .event1 .h1 {
    line-height: 40px;
    font-size: 30px;
  }
  .events .event .event1 .h5 {
    margin-top: 10px;
    margin-left: 30px;
    font-size: 20px;
  }
  .events .event .event1 .p {
    margin-top: 20px;
    font-size: 20px;
    line-height: 27px;
  }
  .events .event .event1 .btn-star {
    margin-top: 40px;
  }
}
/* footer */
footer {
  padding: 30px;
  height: 50vh;
  width: 100%;
  background: black;
  border-top: 2px solid white;
  display: flex;
  justify-content: space-around;
}
footer h1 {
  line-height: 50px;
  font-weight: bolder;
  color: #bd9204;
  font-size: 25px;
}
footer h5 {
  margin-top: 10px;
  font-weight: lighter;
  color: #bd9204;
  font-size: 20px;
  line-height: 3cap;
}
footer a {
  font-size: 20px;
  line-height: 30px;
}

.links {
  display: flex;
  flex-direction: column;
}

.copy-rights-text {
  margin-left: 40%;
}

.copy-rights {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  padding-right: 80px;
  background: black;
  color: black;
  border-top: 2px solid #bd9204;
}

.home-page .parallax {
  background-image: url("../../images/img3.jpg");
  min-height: 90vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  opacity: 0.77;
  color: black;
  justify-content: space-around;
  align-items: last baseline;
}
.home-page .box1 {
  width: 400px;
  font-size: 3vw;
  margin: max(1rem, 3vw);
  border: 0.15rem solid;
  background-color: black;
  opacity: 0.8;
  padding: 3vw;
  color: white;
}
.home-page .box1 p {
  font-size: 25px;
}
.home-page .box2 {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 400px;
  line-height: 30px;
  font-size: 3vw;
  color: white;
  background-color: black;
  opacity: 0.8;
  margin: max(1rem, 3vw);
  border: 0.15rem solid;
  padding: 20px;
}
.home-page .box2 p {
  font-size: 25px;
}
@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}
@keyframes borderRadial {
  20% {
    --gradX: 100%;
    --gradY: 50%;
  }
  40% {
    --gradX: 100%;
    --gradY: 100%;
  }
  60% {
    --gradX: 50%;
    --gradY: 100%;
  }
  80% {
    --gradX: 0%;
    --gradY: 50%;
  }
  100% {
    --gradX: 50%;
    --gradY: 0%;
  }
}
.home-page .wrapper {
  border: 2px solid #f9b234;
  box-shadow: 1px 1px 10px #bd9204;
  width: 80%;
  margin: 20px 10%;
  text-align: center;
  border-radius: 10px;
  padding: 40px;
  font-family: "Roboto", sans-serif;
  background-color: white;
  line-height: 30px;
}
.home-page .wrapper h1 {
  line-height: 40px;
  color: black;
  font-size: 28px;
  font-family: sans-serif;
}
.home-page .wrapper h5 {
  margin-top: 10px;
  margin-left: 30px;
  color: #f9b234;
  font-size: 20px;
}
.home-page .wrapper p {
  margin-top: 20px;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 30px;
  font-weight: 600;
}
.home-page .wrapper .btn1 {
  margin-top: 30px;
}
@media (max-width: 700px) {
  .home-page .wrapper h1 {
    line-height: 50px;
    font-weight: bolder;
    color: white;
    font-size: 35px;
  }
  .home-page .wrapper h5 {
    margin-top: 10px;
    margin-left: 30px;
    color: #BFB182;
    font-size: 20px;
  }
  .home-page .wrapper p {
    margin-top: 20px;
    font-size: 25px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 35px;
  }
}
.home-page .wrapper:hover {
  border: 2px solid black;
  box-shadow: 2px 2px 120px #f9b234 inset;
}
.home-page .btn2 {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  padding: 15px;
  border-radius: 50%;
  z-index: 99;
}
.home-page .btn2:hover {
  padding: 15px;
  border-radius: 50%;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 90deg;
  inherits: true;
}
@property --gradX {
  syntax: "<percentage>";
  initial-value: 50%;
  inherits: true;
}
@property --gradY {
  syntax: "<percentage>";
  initial-value: 0%;
  inherits: true;
}
/* about page */
/* reset */
/* buttons */
/* variables */
/* header */
/* grid */
/* variables */
/*works janky on mobile :<*/
.container {
  position: relative;
  width: 400px;
  height: 100px;
  transition: 200ms;
}

.container:active {
  width: 290px;
  height: 90px;
}

#card {
  position: absolute;
  inset: 0;
  z-index: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  transition: 700ms;
  background: rgb(255, 235, 192);
  background: linear-gradient(0deg, rgb(255, 235, 192) 0%, rgb(191, 177, 130) 100%);
}

#prompt {
  align-items: center;
  z-index: 20;
  font-size: 20px;
  font-weight: 900;
  transition: 300ms ease-in-out-out;
  color: white;
  font-family: "Roboto", sans-serif;
}

.tracker {
  position: absolute;
  z-index: 200;
  width: 100%;
  height: 100%;
}

.tracker:hover {
  cursor: pointer;
}

.tracker:hover ~ #card {
  transition: 300ms;
  filter: brightness(1.1);
}

.container:hover #card::before {
  transition: 200ms;
  content: "";
  opacity: 80%;
}

.canvas {
  perspective: 800px;
  inset: 0;
  z-index: 200;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "tr-1 tr-2 tr-3 tr-4 tr-5" "tr-6 tr-7 tr-8 tr-9 tr-10" "tr-11 tr-12 tr-13 tr-14 tr-15" "tr-16 tr-17 tr-18 tr-19 tr-20" "tr-21 tr-22 tr-23 tr-24 tr-25";
}

#card::before {
  content: "";
  filter: blur(2rem);
  opacity: 30%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  transition: 200ms;
}

.tr-1 {
  grid-area: tr-1;
}

.tr-2 {
  grid-area: tr-2;
}

.tr-3 {
  grid-area: tr-3;
}

.tr-4 {
  grid-area: tr-4;
}

.tr-5 {
  grid-area: tr-5;
}

.tr-6 {
  grid-area: tr-6;
}

.tr-7 {
  grid-area: tr-7;
}

.tr-8 {
  grid-area: tr-8;
}

.tr-9 {
  grid-area: tr-9;
}

.tr-10 {
  grid-area: tr-10;
}

.tr-11 {
  grid-area: tr-11;
}

.tr-12 {
  grid-area: tr-12;
}

.tr-13 {
  grid-area: tr-13;
}

.tr-14 {
  grid-area: tr-14;
}

.tr-15 {
  grid-area: tr-15;
}

.tr-16 {
  grid-area: tr-16;
}

.tr-17 {
  grid-area: tr-17;
}

.tr-18 {
  grid-area: tr-18;
}

.tr-19 {
  grid-area: tr-19;
}

.tr-20 {
  grid-area: tr-20;
}

.tr-21 {
  grid-area: tr-21;
}

.tr-22 {
  grid-area: tr-22;
}

.tr-23 {
  grid-area: tr-23;
}

.tr-24 {
  grid-area: tr-24;
}

.tr-25 {
  grid-area: tr-25;
}

.tr-1:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-2:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-3:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-4:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-5:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(20deg) rotateY(10deg) rotateZ(0deg);
}

.tr-6:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-7:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-8:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-9:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-10:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-11:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-12:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-13:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.tr-14:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(5deg) rotateZ(0deg);
}

.tr-15:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(0deg) rotateY(10deg) rotateZ(0deg);
}

.tr-16:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-17:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-18:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(0deg) rotateZ(0deg);
}

.tr-19:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(5deg) rotateZ(0deg);
}

.tr-20:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-10deg) rotateY(10deg) rotateZ(0deg);
}

.tr-21:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-10deg) rotateZ(0deg);
}

.tr-22:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(-5deg) rotateZ(0deg);
}

.tr-23:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(0deg) rotateZ(0deg);
}

.tr-24:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(5deg) rotateZ(0deg);
}

.tr-25:hover ~ #card {
  transition: 125ms ease-in-out;
  transform: rotateX(-20deg) rotateY(10deg) rotateZ(0deg);
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
}

/* footer */
.about-page {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-page .con1 {
  align-items: center;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  padding: 50px;
  border-radius: 5px;
}
.about-page .con1 .con-1 {
  width: 750px;
  padding: 30px;
  border-radius: 20px;
  border: 2px solid #f9b234;
  box-shadow: 1px 1px 10px #bd9204;
  background-color: white;
}
.about-page .con1 .con-1 h1 {
  color: black;
  font-size: 30px;
}
.about-page .con1 .con-1 h5 {
  margin-top: 10px;
  color: black;
  font-size: 18px;
  line-height: 25px;
  font-weight: lighter;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.about-page .con1 .main-png {
  width: 400px;
}
.about-page .con2 {
  margin-top: 50px;
  width: 70%;
  color: black;
  padding: 30px;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 10px #BFB182;
  border-radius: 10px;
}
.about-page .con2 .con-2 {
  display: flex;
  flex-direction: row;
}
.about-page .con2 .con-2 p {
  margin-top: 10px;
  color: black;
  font-size: 18px;
  line-height: 30px;
  font-family: "Roboto", sans-serif;
}
.about-page .con3 {
  width: 90%;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.about-page .con3 h1 {
  color: black;
}
.about-page .con3 .con-3 {
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.about-page .con3 .con-3 p {
  width: 30%;
  color: black;
  font-size: 18px;
  line-height: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.about-page .con4 {
  width: 100%;
  justify-content: center;
  display: flex;
  margin: 40px;
}
.about-page .con5 {
  width: 90%;
  align-items: center;
  justify-content: center;
  margin-bottom: 70px;
}
.about-page .con5 h1 {
  color: black;
  font-size: 28px;
  line-height: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 30px;
}
.about-page .con5 .con-5 {
  justify-content: center;
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}

.about-page .con-1:hover {
  border: 2px solid black;
  box-shadow: 2px 2px 120px #f9b234 inset;
}
.about-page .con2:hover {
  box-shadow: 1px 1px 10px black;
}
.about-page .con3:hover {
  box-shadow: 1px 1px 10px #BFB182;
}

@media (max-width: 1090px) {
  .about-page .con1 {
    display: flex;
    flex-direction: column-reverse;
  }
  .about-page .con1 .con-1 {
    width: 100%;
  }
}
@media (max-width: 900px) {
  .about-page .con2 .con-2 {
    flex-direction: column;
  }
}
@media (max-width: 700px) {
  .about-page .con3 .con-3 {
    flex-direction: column;
  }
  .about-page .con3 .con-3 p {
    width: 100%;
  }
}
.num-card {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  align-items: center;
  justify-content: center;
  width: 1100px;
  padding: 40px 0px;
  border-radius: 20px;
}
.num-card .number-field {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  font-size: 40px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}
.num-card .num-con {
  width: 180px;
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.num-card .num-text {
  margin-top: 20px;
  font-weight: 900;
  color: black;
  font-size: 22px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
@media (max-width: 860px) {
  .num-card .number-field {
    font-size: 30px;
  }
  .num-card .num-text {
    font-size: 18px;
  }
}
@media (max-width: 740px) {
  .num-card .number-field {
    font-size: 25px;
  }
  .num-card .num-text {
    font-size: 16px;
  }
  .num-card .num-con {
    width: 100px;
  }
}
@media (max-width: 665px) {
  .num-card .number-field {
    font-size: 25px;
  }
  .num-card .num-text {
    font-size: 14px;
  }
}
@media (max-width: 550px) {
  .num-card .number-field {
    font-size: 22px;
  }
  .num-card .num-text {
    font-size: 12px;
  }
}
@media (max-width: 460px) {
  .num-card .number-field {
    font-size: 14px;
  }
  .num-card .num-text {
    font-size: 10px;
  }
  .num-card .num-con {
    width: 50px;
  }
}
@media (max-width: 300px) {
  .num-card .number-field {
    font-size: 22px;
  }
  .num-card .num-text {
    font-size: 16px;
  }
  .num-card .num-con {
    width: 80px;
  }
}

@media (max-width: 750px) {
  .num-card {
    -moz-column-gap: 10px;
         column-gap: 10px;
    padding: 30px 0;
  }
}
@media (max-width: 450px) {
  .num-card {
    -moz-column-gap: 10px;
         column-gap: 10px;
    padding: 30px 0;
  }
}
@media (max-width: 300px) {
  .num-card {
    display: grid;
    grid-template-columns: repeat(1fr);
    background-image: linear-gradient(yellow, yellow);
    background-size: 50px 0;
    row-gap: 40px;
    width: 100px;
  }
}
/* executive committee page */
/* reset */
/* buttons */
/* variables */
/* header */
/* footer */
.executive-committee-page .container1 {
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 60px;
  flex-wrap: wrap;
}
.executive-committee-page .container1 .card {
  position: relative;
  width: 250px;
  margin-bottom: 30px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  overflow: hidden;
  perspective: 1000px;
  border-top: 2px solid;
  box-shadow: 0 3px 2px black;
  font-family: "Roboto", sans-serif;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.executive-committee-page .container1 .card .p1 {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.executive-committee-page .container1 .card .p2 {
  color: black;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.executive-committee-page .container1 .card .p3 {
  color: #f9b234;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.executive-committee-page .container1 .card .img1 {
  width: 200px;
  height: 200px;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.executive-committee-page .container1 .card:hover {
  transform: scale(1.05);
}

/* events page */
/* reset */
/* buttons */
/* variables */
/* header */
/* events */
/* footer */
.event-page .box-1 {
  display: flex;
  flex-direction: column;
  --border-size: 3px;
  --border-angle: 0turn;
  height: 50vmin;
  padding: 40px;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  background-image: conic-gradient(from var(--border-angle), black, black 50%, black), conic-gradient(from var(--border-angle), transparent 20%, #BFB182, #bd9204);
  background-size: calc(100% - var(--border-size) * 2) calc(100% - var(--border-size) * 2), cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation: bg-spin 3s linear infinite;
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
.event-page .box-1:hover {
  animation-play-state: paused;
}
.event-page .box-1 h1 {
  color: black;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}
.event-page .box-1 h5 {
  color: black;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}
.event-page .box-1 p {
  color: black;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}
.event-page .box-1 .btn-star {
  margin-bottom: 20px;
  margin-top: 0;
  position: relative;
  padding: 12px 35px;
  background: rgb(255, 235, 192);
  background: linear-gradient(0deg, rgb(255, 235, 192) 0%, rgb(255, 200, 79) 100%);
  font-size: 17px;
  font-weight: 800;
  color: white;
  font-family: "Roboto", sans-serif;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
/* membership page */
/* reset */
/* buttons */
/* variables */
/* header */
/* events */
/* footer */
/* chencon page */
/* reset */
/* buttons */
/* variables */
/* header */
/* events */
/* footer */
/* chenlink newsletter page */
/* reset */
/* buttons */
/* variables */
/* header */
/* events */
/* footer */
/* contact page */
/* reset */
/* buttons */
/* variables */
/* header */
/* events */
/* footer *//*# sourceMappingURL=main.css.map */